<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>437408627711-d7s487sjn5fl4q6dg409tk3g9qd8q60b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.437408627711-d7s487sjn5fl4q6dg409tk3g9qd8q60b</string>
	<key>API_KEY</key>
	<string>AIzaSyC0hC5YGfP4G9WHRhF4NwnTGXIr5lsb3U4</string>
	<key>GCM_SENDER_ID</key>
	<string>437408627711</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.swastek.flutterBleConnection</string>
	<key>PROJECT_ID</key>
	<string>bleapplication-eeae5</string>
	<key>STORAGE_BUCKET</key>
	<string>bleapplication-eeae5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:437408627711:ios:55e6531e3923885bfc45ca</string>
</dict>
</plist>